html, body {
    height: 100%;
}

#aboutmetitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    position: relative;
    padding-bottom: 30px;
}

#name {
    font-size: 80px;
    color: white;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    font-weight: 100;
}

#bg {
    width: 100%;
}

body {
    margin-left: 0px;
    text-align: center;
    position: relative;
}

#me {
    border-radius: 50%;
    height: 300px;
    position: relative;
}

#aboutme {
    color: #646464;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-bottom: 30px;
    padding-top: 30px;
    position: relative;
}

#soccer {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

#baseball {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

#guitar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #646464;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    top: 30px;
    padding-bottom: 50px;
}

#projectstitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    position: relative;
    top: 60px;
}

#safewalktitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    position: relative;
    top: 130px;
    color: #646464;
}

#safewalkabstract {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #646464;
    padding-top: 300px;
}

#safewalkimage {
    position: relative;
    top: 200px;
}

#linktovideo {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #646464;
    padding-top: 50px;
}

#skillstitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    padding-bottom: 50px;
    padding-top: 40px;
}

#skillspictures1 {
    width: 100%;
    border-radius: 10%;
}

#skillspictures2 {
    width: 300px;
    position: relative;
    top: 75px;
    border-radius: 10%;
}

#giantaboutme {
    position: relative;
    padding-top: 100px;
}

#giantprojects {
    background-color: #f1f1f1;

}

#skillspictures3{
    width: 300px;
    position: relative;
    top: 75px;
    border-radius: 10%;
}

.skillsrow2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #646464;
    padding-top: 80px;
}

.skillspictures3ink {
    width: 300px;
    position: relative;
    top: 75px;
    border-radius: 10%;
}

#contactme {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    position: relative;
    top: 60px;
}

#coursestitle {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    position: relative;
    top: -100px;
}

.courses {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    position: relative;
    top: 30px;
    color: black;
}

#giantskills {
    padding-bottom: 50px;
}

#giantclasses {
    background-color: #f1f1f1;
    padding-bottom: 150px;
    padding-top: 200px;
}

.years {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #36ADFF;
    padding-bottom: 50px;
}

.instagram {
    width: 10%;
    border-radius: 50%;
}

.resume {
    width: 10%;
}

#bottom {
    position: relative;
    top: 825px;
}

#socialmedia {
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    top: 70px;
    color: black;
}

#giantcontact {
    padding-bottom: 270px;
}

.navbar-brand {
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: white;
}

.navbar-brand:focus {
    outline: 0;
}

.nav.navbar-nav {
    background-color: white;
}

.navbar-custom ul.nav li a {
	font-size: 12px;
	letter-spacing: 1px;
    color: black;
	text-transform: uppercase;
	font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    background-color: white;
}

.navbar-custom {
    background-color: transparent;
    text-align: center;
}

#nav {
    margin-top: 10px;
    text-decoration: none;
}

#nav a{
    text-decoration: none;
}

#nav a:hover{
    background:#F8F8F8 none;
    color: black;
}

#bottom {
    position: relative;
    top: 100px;
}

.timlupo {
    text-decoration: none;
    color: #646464;
}

#top {
    background-image: url(../../images/Picture1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* 

http://www.westsideflats.com/wp-content/uploads/2013/11/1-WSF-photoshop-Website-background-cropped-version.jpg 

../../images/Picture1.png

*/

.facebook {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

@keyframes fade {
  0%   { opacity: 0; }
  11.11%   { opacity: 1; }
  33.33%  { opacity: 1; }
  44.44%  { opacity: 0; }
  100% { opacity: 0; }
}

.fadein {

}

.fadein img { 
    position:absolute; 
    left: 0; 
    right: 0; 
    opacity: 0; 
    animation-name: fade; 
    animation-duration: 9s; 
    animation-iteration-count: infinite; 
}

.fadein img:nth-child(1) { 
    animation-delay: 0s;  
}

.fadein img:nth-child(2) { 
    animation-delay: 3s;  
}

.fadein img:nth-child(3) { 
    animation-delay: 6s;  
}

#newskills {
    width: 300px;
}

#slide {
    height: 300px;
    width: 300px;
}

#slide2 {
    height: 300px;
    width: 300px;
    padding-top: 140px;
    padding-bottom: 100px;
}

#slide3 {
    height: 300px;
    width: 300px;
    padding-top: 250px;
}

@keyframes fade2 {
    0%   { opacity: 0;}
    25%   { opacity: 1;}
    50%   { opacity: 1;}
    76%   { opacity: 0;}
}

.fadein2 {

}

.fadein2 img { 
    position:absolute; 
    left: 0; 
    right: 0; 
    opacity: 0; 
    animation-name: fade2; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
}

.fadein2 img:nth-child(1) { 
    animation-delay: 0s;  
}

.fadein2 img:nth-child(2) { 
    animation-delay: 3s;  
}

@keyframes fade5 {
    0%   { opacity: 0; }
    10%   {opacity: 1; }
    20%   { opacity: 1; }
    31%   {opacity: 0; }
    
}

.fadein5 {

}

.fadein5 img { 
    position:absolute; 
    left: 0; 
    right: 0; 
    opacity: 0; 
    animation-name: fade5; 
    animation-duration: 15s; 
    animation-iteration-count: infinite; 
}

.fadein5 img:nth-child(1) { 
    animation-delay: 0s;  
}

.fadein5 img:nth-child(2) { 
    animation-delay: 3s;  
}

.fadein5 img:nth-child(3) { 
    animation-delay: 6s;  
}

.fadein5 img:nth-child(4) { 
    animation-delay: 9s;  
}

.fadein5 img:nth-child(5) { 
    animation-delay: 12s;  
}

.snowman {
    align-self: center;
    height: 300px;
    width: 300px;
}

@keyframes fade4 {
    0%   { opacity: 0; }
    12.5%   {opacity: 1; }
    25%   { opacity: 1; }
    37.5%   {opacity: 0; }
    
}
.fadein4 {

}

.fadein4 img { 
    position:absolute; 
    left: 0; 
    right: 0; 
    opacity: 0; 
    animation-name: fade4; 
    animation-duration: 12s; 
    animation-iteration-count: infinite; 
}

.fadein4 img:nth-child(1) { 
    animation-delay: 0s;  
}

.fadein4 img:nth-child(2) { 
    animation-delay: 3s;  
}

.fadein4 img:nth-child(3) { 
    animation-delay: 6s;  
}

.fadein4 img:nth-child(4) { 
    animation-delay: 9s;  
}

.resume {
    height: 75px;
    width: 75px;
}

#chocolatecompimage {
    padding-top: 225px;
}

#chocolatecompdescription {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #646464;
    padding-top: 50px;
    padding-bottom: 100px;
}

.cake {
    width: 250px;
}

.fadein4 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.fadein5 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.fadein img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.fadein2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

.skill {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #646464;
    padding-bottom: 40px;
}

.inventor {
    padding-top: 350px;
}

.skillsrow1 {
    height: 350px;
}